google:
  client:
    clientId: 641526525870-hs46n55bfid74j6jbni8n17t86an1k21.apps.googleusercontent.com
    clientSecret: Ksj-BqtJlmQYuUR-A0ZKvBxx
    accessTokenUri: https://accounts.google.com/o/oauth2/token
    userAuthorizationUri: https://accounts.google.com/o/oauth2/auth
    tokenName: oauth_token
    authenticationScheme: query
    clientAuthenticationScheme: form
    scope: profile
  resource:
    userInfoUri: https://www.googleapis.com/userinfo/v2/me